#landing
  .container-fluid
    .col-md-8.col-md-offset-2.filter
      .row.well.well-lg
        .col-md-12.col-xs-12.text-center
          .row.higher
            .input-group.input-group-md
              span.input-group-addon
                i.glyphicon.glyphicon-search
              input.form-control.search(type='text', placeholder='#{t("landing.search.placeholder")}', autofocus)
          .row.lower
            .col-md-8.col-xs-12.filters.text-center
              .text.pull-left.hidden-xs=t('landing.filter-by')
              span#author-filter
              span#tag-filter

            .col-md-4.col-xs-12.sort
              span=t('landing.sort-by')
              button.btn.btn-link.sort(data-sort='law-title')
                =t('landing.sort-by.title')
              button.btn.btn-link.sort(data-sort='law-closing-date')
                =t('landing.sort-by.date')

    .row
      .col-md-offset-1.col-md-10.card
        .row.list
          for law in laws
            .col-md-4
              .well.law
                a(href='/law/#{law.id}').law-title-link.text-center
                  h2.law-title(style=law.styles ? 'background-color:#{law.styles.bgColor};color:#{law.styles.fgColor}' : '')=law.mediaTitle
                .law-closing-date.hide=law.closingAt
                .author-wrapper
                  .author
                    if (law.authorPictureUrl)
                      a(href=law.authorUrl ? law.authorUrl : '#')
                        img(src='#{law.authorPictureUrl}')
                    p
                      if (law.author)
                        =t('landing.author') + ': '
                        if (law.authorUrl)
                          a.author-link.law-author(href=law.authorUrl)=law.author
                        else
                          span.law-author=law.author
                .pic(style='background-image:url(#{law.imageUrl})')
                  span
                .law-tag.hide=law.tag._id
                .summary
                  !=law.summary
              a(href='/law/#{law.id}').btn.btn-primary.btn-block.discuss=t('landing.discuss')
